* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
    background: white;
  }

 
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;

    /* background: rgb(243,249,249); */
    /* background: linear-gradient(0deg, rgba(243,249,249,1) 51%, rgba(168,168,167,1) 100%); */
    /* background: linear-gradient(0deg, rgba(168,168,167,1) 51%, rgba(243,250,250,1) 100%); */
    background:  url('top-image.png') top;

    background: url('top-image.png') top no-repeat, url('bottom-image.png') bottom no-repeat;
    border-bottom: 1mm solid red;
    border-top: 1mm solid red;
   
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: url('logo.png'), no-repeat;
  }
  
  /* Your CSS below here */